<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= link_to event.name, event_path(event) %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= event.start_date %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= event.url %>
  </p>

  <%#= image_tag event.image, width: 500 if event.image.present? && event.image.representable? %>
  <%= image_tag event.og_image, width: 500 if event.og_image.present? && event.og_image.representable? %>
</div>
