<%= content_for :head do %>
  <%= tag.meta(property: 'og:image', content: rails_blob_url(@event.og_image)) %>
  <%= tag.meta(property: 'twitter:card', content: "summary_large_image") %>
<% end %>

<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>
